body {
    background-color: #060b0f;

}
button, p {
    position: relative;
    top: 35vh;
    width: 70%;
    margin-left: 5vh;
    font-size: 5vh;
}

button {
    height: 8vh;
    background-color: #fd7526;
    color: #060b0f;
    bottom: none;
    border-radius: 10px;
}

p {
    color: #fd7526;
    text-align: center;
}

@media screen and (max-width: 800px) {
    button, p {
        width: 100%;
        margin-left: 0;
    }
    p {
        font-size: 4vh;
    }
}

@keyframes button_anim {
        from {
            opacity: 1;
        }
        to {
            opacity: 1;
        }
        50% {
            opacity: 0.2;
        }
    }